.nav-division{
    display: grid;
    grid-template-columns: 40rem 30rem auto;
    grid-gap: 10px;
}
body{
    background-image: url("../images/body-background.png");
}
.grid-container {
    display: grid;
    grid-template-columns: 50rem auto;
    grid-gap: 10px;
    background-color: #9fcdff;
    padding: 10px;
}


p.login-register{
    text-align: center;
    background-color: #007bff;
    height: 3rem;
    color: whitesmoke;

}
input{
    border-radius: 5px;
    border-width: 2px;

}
div>input,.btn.btn-outline-success.my-2.my-sm-0,.form-control.mr-sm-2{
    box-shadow: 10px 10px 5px grey;
}

pre{
    text-shadow: 0 0 1px #0b2e13, 0 0 1px #0b2e13;
}
div>hr{
    margin-top: 5px;
}
.card.dynamic{
    height: 23rem;
    border-width: 4px;
    border-color: #007bff;
    border-radius: 10px;
    margin-top: -10px;
    background-image: url("../images/background.png");


}
.card-title{
    border: #1b1e21;
    height: 3rem;
    background-color: #34ce57;
    text-align: center;
    color: whitesmoke;
    border-radius: 50px;
    box-shadow: 10px 10px 5px green;


}
.card.form{
    background-image: url("../images/background.png");
    border-color: #1c7430;
    border-width: 4px;
    margin-top: -10px;
    border-radius: 10px;
}
.btn.btn-primary{
    float:right;
}

.card-scroll{
    margin:4px;
    padding:4px;
    overflow-x: hidden;
    overflow-x: auto;
    text-align:justify;

}
.card.grid-shares{
    display: grid;
    grid-template-columns: 10rem auto;
    min-height: 10rem;
    max-width: 47rem;
    background-color: #71dd8a;
    /*overflow: paged-x;*/
}
.item1{grid-area: header1;}
.item2{grid-area: header2;}
.item3{grid-area: header3;}
.item4{grid-area: main;}
.item5{grid-area: foot3;}

.card.grid-compo{
    display:grid;
    grid-template-areas: "header1 header2 header3"
    "main main main"
    "foot1 foot2 foot3";
    grid-template-rows: 20% 60% 20%;
    background-image: url("../images/background.png");
    color: #000000;
}
.recentSharePhoto,.topPostPhoto{
    background-image: url("../images/background.png");
}
.card-title{
    background-image: url("../images/card-title.png");
}
.btn{
    color: whitesmoke;
}